What You Will Learn
Advanced techniques for data normalization, reduction, and aggregation.
Skills in gathering, exploring, integrating, and cleaning data using Python.
Proficiency in using Pandas for complex data manipulation.

In [8]:
import pandas as pd
df = pd.read_csv('datascience_salaries.csv')
print(df.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['salary_normalized'] = scaler.fit_transform(df[['salary']])

In [15]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd


numeric_columns = df.select_dtypes(include=['int64', 'float64']).drop(columns=['salary', 'salary_normalized', 'Unnamed: 0'], errors='ignore').columns

if len(numeric_columns) < 2:
    print("Error: Not enough numeric columns (excluding 'salary', 'salary_normalized', and 'Unnamed: 0') for PCA with n_components=2.")
    # Handle this case, e.g., reduce n_components or skip PCA
else:
    pca = PCA(n_components=2)
    reduced_data = pca.fit_transform(df[numeric_columns])

    df['PCA1'] = reduced_data[:, 0]
    df['PCA2'] = reduced_data[:, 1]

    salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median'])

    print(salary_stats)

# Re-print salary_stats if PCA was skipped
if 'PCA1' not in df.columns:
     salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median'])
     print(salary_stats)

Error: Not enough numeric columns (excluding 'salary', 'salary_normalized', and 'Unnamed: 0') for PCA with n_components=2.
                          mean   median
experience_level
Entry             36111.111111  30000.0
Executive         76076.923077  46000.0
Mid               51786.885246  51000.0
Senior            75088.033012  68000.0

In [5]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median'])
print(salary_stats)

                      mean    median
experience_level
Entry             0.030864  0.000000
Executive         0.232712  0.080808
Mid               0.110035  0.106061
Senior            0.227717  0.191919