What You Will Learn
Advanced techniques for data normalization, reduction, and aggregation.
Skills in gathering, exploring, integrating, and cleaning data using Python.
Proficiency in using Pandas for complex data manipulation.

In [3]:
import pandas as pd
df = pd.read_csv('datascience_salaries.csv')
print(df.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

In [4]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['salary'] = scaler.fit_transform(df[['salary']])

In [8]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

#Select numerical columns only (for PCA)
numeric = df.select_dtypes(include=['float64', 'int64'])


# Scale the data
scaled = StandardScaler().fit_transform(numeric)


# Scale the data
pca = PCA(n_components=2)
reduced = pca.fit_transform(scaled)

print(pd.DataFrame(reduced, columns=['PC1', 'PC2']).head())

        PC1       PC2
0  0.811132 -2.846939
1  0.183095 -2.214531
2 -0.945867 -1.083384
3  0.185280 -2.212346
4  0.816595 -2.841476